{{#partial "content"}}
    <div class="container">

        <h6><a href="/">Home</a></h6>
        <h6><a href="/squad/new">Check out the Squad</a></h6>
    </div>
{{/partial}}
{{>layout.hbs}}

















































































































