{{#partial "content"}}
    <div class="container">

        <h5>Successfully Done</h5>

        <h6><a href="/">Home</a></h6>
        <h6><a href="/hero/new">Check out your heroes & Squads </a></h6>
    </div>
{{/partial}}
{{>layout.hbs}}
